<li>
	{{burger_name}}


	<button type="button" class="change-devoured btn btn-success " data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}EAT ME!!!{{else}}Eat me again!{{/if}}
	</button>

	<button type="button" class="delete-burger btn btn-danger " data-id="{{this.id}}">Delete!</button>

</li>