<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}EAT ME!!!{{else}}Eat me again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete!</button>
</li>